In [15]:
# Import des librairies
import pandas as pd
import numpy as np

In [16]:
# Chargement du dataset
df = pd.read_csv("/home/ubuntu/JUIL24-CDS-SUPPLYCHAIN/mon_env/Donnees/dataset.csv", sep="\t")
# df.head()

In [17]:
# Dimension du dataset
print('Les dimensions du dataset sont:',df.shape)

Les dimensions du dataset sont: (19863, 11)

In [18]:
# Infos du dataset
print('Tableau des infos du dataset:','\n')
print(df.info())

Tableau des infos du dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19863 entries, 0 to 19862
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Commentaire    19834 non-null  object
 1   star           19863 non-null  int64
 2   date           19488 non-null  object
 3   client         10215 non-null  object
 4   reponse        8477 non-null   object
 5   source         19863 non-null  object
 6   company        19863 non-null  object
 7   ville          4860 non-null   object
 8   maj            5 non-null      object
 9   date_commande  6686 non-null   object
 10  ecart          6686 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 1.7+ MB
None

In [19]:
# Statistiques descriptives des variables du dataset
print('Statistiques descriptives des variables du dataset:\n')
display(df.describe(include='all'))

Statistiques descriptives des variables du dataset:

,Commentaire,star,date,client,reponse,source,company,ville,maj,date_commande,ecart
count,19834,19863.000000,19488,10215,8477,19863,19863,4860,5,6686,6686.000000
unique,17174,NaN,1880,7569,2033,2,2,2457,5,385,NaN
top,Parfait,NaN,2020-06-12,Client,"Bonjour , Merci d'avoir partagé votre expérien...",TrustedShop,ShowRoom,Paris,2021-04-30,2020-08-19,NaN
freq,284,NaN,257,31,1162,14503,16823,110,1,73,NaN
mean,NaN,3.408398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.286419
std,NaN,1.650531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.373320
min,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000
50%,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000
75%,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000
max,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.000000

In [20]:
# Affichage des modalités de star, source et company
for col in ['star', 'source','company']:
    print(col)
    print(df[col].unique(),'\n')

star
[1 2 5 3 4]

source
['TrustPilot' 'TrustedShop']

company
['ShowRoom' 'VeePee']

In [21]:
# Valeurs manquantes
print('Pourcentage de valeurs manquante par variable: \n')
print((round(100*df.isna().sum()/df.shape[0],1)).astype(str)+'%')

Pourcentage de valeurs manquante par variable:

Commentaire        0.1%
star               0.0%
date               1.9%
client            48.6%
reponse           57.3%
source             0.0%
company            0.0%
ville             75.5%
maj              100.0%
date_commande     66.3%
ecart             66.3%
dtype: object

In [22]:
# Suppression des valeurs manquantes
df = df.dropna(subset = ['Commentaire', 'star','date','source','company'])

In [23]:
# Affichage du nombre de doublons
print("Nombre de doublons:",df.duplicated().sum())

# Supression des doublons
df = df.drop_duplicates()

Nombre de doublons: 420

In [24]:
# Formatage de la variable date

# Detection des differents formats de date
print(df['date'].str.len().unique())

# Creation d'une table par format
df_tmp1 = df[df['date'].str.len() == 25]
df_tmp2 = df[df['date'].str.len() == 10]

# Conversion au format date
df_tmp1['date'] = pd.to_datetime(df_tmp1['date'], format='%Y-%m-%d %H:%M:%S%z')
df_tmp1['date'] = df_tmp1['date'].dt.strftime('%Y-%m-%d')

df_tmp2['date'] = pd.to_datetime(df_tmp2['date'], format='%Y-%m-%d')
df_tmp2['date'] = df_tmp2['date'].dt.strftime('%Y-%m-%d')

# Reconstitution de df
df = pd.concat([df_tmp1,df_tmp2])
df['date'] = pd.to_datetime(df['date'])

# Creation des variables mois, année
df["month"] = df["date"].dt.month
df["year"] = df["date"].dt.year

[25 10]

/tmp/ipykernel_3531/2348051489.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp1['date'] = pd.to_datetime(df_tmp1['date'], format='%Y-%m-%d %H:%M:%S%z')
/tmp/ipykernel_3531/2348051489.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp1['date'] = df_tmp1['date'].dt.strftime('%Y-%m-%d')
/tmp/ipykernel_3531/2348051489.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp2['date'] = pd.to_datetime(df_tmp2['date'], format='%Y-%m-%d')
/tmp/ipykernel_3531/2348051489.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp2['date'] = df_tmp2['date'].dt.strftime('%Y-%m-%d')

In [25]:
# Creation d'une variable nombre d'avis par utilisateur
df['nb_avis'] = df.groupby('client')['client'].transform('size')

In [26]:
# Creation d'une variable longueur du commentaire
df['length_of_text'] = [len(i.split(' ')) for i in df['Commentaire']]

In [27]:
# Sauvegarde du dataset
df.to_pickle('~/JUIL24-CDS-SUPPLYCHAIN/mon_env/Donnees/df_1.pkl')